<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>welcome</title>    <!--标签页标题-->
</head>

<body>
    <h1>Welcome To My First WEBSOCKET-DEMO</h1> <!--正文标题-->

    <div>
        <a href="http://localhost:8080/self">给自己发消息</a><br />
        <a href="http://localhost:8080/many">向其他节点发送消息</a><br />



    </div>


</body>
</html>

<style>
    h1{
        color:darkmagenta;
        text-align: center;
    }
    p{
        font-weight: bold;
        text-align: center;
    }
    div{

        text-align: center;
    }


</style>
